.content--main--box {
    margin-left: 10px;
    width : 55vh;
    border : 2px solid #242424;
    border-radius: 4px;
    display:flex;
    flex-direction: column;
    box-shadow: 0px 5px 12px -3px rgba(0,0,0,0.97);
    overflow:hidden
}

.content--description {
    position: absolute;
    bottom: 0;
    left: 5px;
    width: 40%;
    height:15%;
    background: #2267e7;
    border-radius : 5px 0px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#fff;
}
.content--description > p {
    font-size:12px;
    font-weight:600;
}
.image-link {
    display: flex;
    justify-content:center;
    justify-self: center;
    width:100%;
    height:37vh;
    overflow:hidden;
    position:relative;
    cursor:pointer;

}



.image-link > img {
    max-height : 1200px;
    max-width:1200px;
    height:100%;
    width:100%;
    
}
.image-link > img:hover {
    transform: scale(1.1);
    opacity:0.9;
    transition: all 350ms ease-out;
}


.content-section {
    width:100%;
    min-height:87.5vh;
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content:center;
    padding-top: 10px;
    padding-left: 10px;
    gap: 10px;
    
}

.chapter--link{
    text-decoration: none;
    color: #242424;
    font-size: 13px;
    font-weight: 700;
    cursor:pointer;
}

.chapter--link:hover {
    opacity: 0.5;
    transition: all 150ms ease-out;
}

/*** Search box **/
.image-link-search-box {
    display: flex;
    justify-content:center;
    justify-self: center;
    width:100%;
    height:37vh;
    overflow:hidden;
    position:relative;
    cursor:pointer;
}
.search {
    position: absolute;
    bottom: 0;
    right: 5px;
    width: 50%;
    height:15%;
    background: #ee5d38;
    border-radius : 5px 0px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#fff;
}

.search--section {
    text-align: start;
    padding-left: 10px;
    padding-top: 50%;
}

.search--section > h5 {
    font-size : 15px;
    color: #242424;
    font-weight:400;
}

.center--section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
/**  **/
.search-input {
    padding: 8px 20px;
    border-radius: 4px;
    margin-right: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    margin-bottom: 16px;
    border: 1px solid #424242;
    text-align: center;
  }

  .search--ip {
      height:125vh;
  }

  img {
    object-fit: cover;
}
