.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff;
    border-radius : 2px;
    cursor: pointer;
    gap: 5px;
}
.btns > h3 {
    font-weight: 300;
}

i {
    font-size:1.5rem;

}

.btn--outline {
    background: transparent;
    font-size: 1rem;
    color: #ffffff;

}

.btn--search {
    color : #ffffff;
    background: #dad7d7;
    border: 1px solid #242424;
    border-radius:10px;
    font-size: 20px;
}

.btn--search:hover {
    opacity:0.5;
    transform: scale(1.1);
    transition: all 400ms ease-out;
}


.btn--outline:hover {
    background: #ffffff;
    color: #242422;
    transition: all 150ms ease-out;
}


.btn--large {
    width:13rem;
    height:4rem;
}

.btn--small {
    width:9rem;
    height:2rem;
}

.btn--primary {
    color : #222222;
    background: #ffffff;
    font-size: 1rem;
}

.btn--primary > h3 {
    font-weight: 400;
}

.btn--primary:hover {
    background : transparent;
    transition: all 150ms ease-out;
}



